.card {
  background-color: var(--White-Dark-Mode-Text-Light);
  box-shadow: 0 10px 20px -30px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}

.card-container {
  width: 100%;
  max-width: 300px;
}

.card-container img {
  width: 100%;
}
