html,
body {
  background-color: var(--Very-Light-Gray-Light-Mode);
}

.paddings {
  padding: 20px 5%;
}

.flexCol {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexColStart {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.flexColCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexColEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.borderBottom {
  border-bottom: 1px solid var(--Dark-Gray-Light-Mode-Input);
}

.form {
  width: 400px;
  background-color: var(--White-Dark-Mode-Text-Light);
  color: var(--Dark-Gray-Light-Mode-Input);
  font-weight: 600;
  padding: 12px 15px;
  box-shadow: 0 10px -23px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
}

input {
  flex: 1;
  border: 0;
  outline: none;
  margin-left: 15px;
  color: var(--Dark-Gray-Light-Mode-Input);
  font-weight: 600;
}
